#folder_form table {
	border-collapse: collapse;
}

#folder_form table td {
	padding: 2px 20px 2px 2px;
	vertical-align: top;
}

#folder_form input[type=text],
#folder_form input[type=number],
#folder_form select {
	padding: 2px;
	height: 30px;
}

#folder_form input[name=hour],
#folder_form input[name=minute] {
	width: 45px;
	text-align: center;
}

#folder_form input[name=path] {
	width: 300px;
}

#backbtn {
	display: none;
}

.folders-table {
	margin-top: 10px;
	margin-left: 50px;
}

.folders-table a {
	color: #000000;
}

.folders-table a:hover,
.folders-table a:focus {
	text-decoration: none;
}

#folder_list {
	padding-right: 50px;
}

#folder_list a {
	display: block;
	font-size: 15px;
	padding: 0px 10px 10px
}

#folder_list a.selected {
	background: #428bca;
	border: 1px solid #000000;
	border-radius: 3px;
}

#folder_list a i {
	width: 50px;
	font-size: 25px;
	position: relative;
	top: 5px;
}

#folder_list a span {
	font-weight: bold;
}

.folder-actions {
	display: none;
	padding-left: 50px;
	border-left: 2px solid #000000;
}

.folder-actions a {
	display: block;
	margin-bottom: 10px;
}

#folder_form #error {
	font-size: 10px;
	color: red;
}